<div class="container">
  <div class="item register-item">
    <div class="header">
      Register New Note
    </div>
    <input type="text" placeholder="Title" [(ngModel)]="note_title">
    <div [froalaEditor] [(froalaModel)]="note_body">Write Some Notes</div>
    <input type="submit" value="Save" class="btn" (click)="onSubmit()">
  </div>
  <div class="item" *ngFor="let note of notes | async">
    <div class="header">
      {{ note.title }}
    </div>
    <div [innerHTML]="note.body">
    </div>
  </div>
</div>